.glasses-img-small{
    width: 300px;
    height: 200px;    
}
.glasses-img-medium{
    width: 420px;
    height: 280px; 
}
.glasses-small-view{
    width: 150px;
    height: 100px;   
}
.glasses-large-view{
    width: 750px;
    height: 500px;
}
.align-middle{
    text-align: center;
}
.featured_item{
    padding-top :20px;
}
.warning{
    color:orangered;
}
.navbar-select, .navbar-pagination,.navbar-search-icon{
    margin-top: 5px;
}
.offset-1-right{
    margin-right: 10px;
}

.main-logo{
     width:350px;
     height:75px;
     padding-bottom: 10px;
}
.cart-table tr td{ 
    margin: auto;
    text-align:center;
}
.item-table tr td{ 
    margin: auto;
    text-align:center;
}
.prescription-info-table tbody tr td{
    text-align:right;
}
.icon-redcross {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    background-image: url("../img/icons/red-cross.png");
}
.rating-star0, 
.rating-star1,
.rating-star2,
.rating-star3,
.rating-star4,
.rating-star5,
.rating-star6,
.rating-star7,
.rating-star8,
.rating-star9,
.rating-star10{
    display: inline-block;
    width: 100px;
    height: 14px;
    margin-top: 1px;    
}
.rating-star0{
    background-image: url("../img/ratings/star0.png");
}
.rating-star1{
    background-image: url("../img/ratings/star1.png");
}
.rating-star2{
    background-image: url("../img/ratings/star2.png");
}
.rating-star3{
    background-image: url("../img/ratings/star3.png");
}
.rating-star4{
    background-image: url("../img/ratings/star4.png");
}
.rating-star5{
    background-image: url("../img/ratings/star5.png");
}
.rating-star6{
    background-image: url("../img/ratings/star6.png");
}
.rating-star7{
    background-image: url("../img/ratings/star7.png");
}
.rating-star8{
    background-image: url("../img/ratings/star8.png");
}
.rating-star9{
    background-image: url("../img/ratings/star9.png");
}
.rating-star10{
    background-image: url("../img/ratings/star10.png");
}